<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="com.app.abby.tsnackbar">

    <uses-sdk
        android:maxSdkVersion="25"
        android:minSdkVersion="22"/>

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
     >

    </application>

</manifest>
